---
import YouTubeEmbed from "../components/YouTubeEmbed.jsx";
---

<section
  id="design"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto space-y-8 md:py-34 pb-14">
    <p class="text-md md:text-2xl text-[var(--white-icon)]">
      <span class="text-[var(--sec)] shiny-sec"
        >à¸ªà¸·à¹ˆà¸­à¸­à¸­à¸™à¹„à¸¥à¸™à¹Œ / à¸ªà¸·à¹ˆà¸­à¸ªà¸´à¹ˆà¸‡à¸žà¸´à¸¡à¸žà¹Œ</span
      >
    </p>
    <br />
    <iframe
      src="https://online.flipbuilder.com/ywru/xyec/"
      width="100%"
      height="600px"
      style="border: none;"
      loading="lazy"
    >
    </iframe>
    <a
      href="https://book.flipbuilder.com/biowist05/"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
    >
      ðŸ“– à¸­à¹ˆà¸²à¸™ E-book
    </a>
    <div class="image-gallery">
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/à¸ªà¸•à¸-à¸‹à¸±à¸à¸­à¸šà¸œà¹‰à¸²-à¸•à¸¢.jpg"
            alt="à¸ªà¸•à¸´à¸à¹€à¸à¸­à¸£à¹Œà¸£à¹‰à¸²à¸™à¸‹à¸±à¸à¸­à¸šà¸œà¹‰à¸²"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/63_realistic_sign_mockup-5.png"
            alt="à¸›à¹‰à¸²à¸¢à¹„à¸Ÿ"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/à¹à¸šà¸šà¸£à¸–01.jpg"
            alt="à¸­à¸­à¸à¹à¸šà¸šà¸•à¸¹à¹‰à¸£à¸– food truck"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/5-12-67-1.jpg"
            alt="à¸­à¸­à¸à¹à¸šà¸šà¸•à¸¹à¹‰à¸Šà¸±à¹‰à¸™à¹€à¸à¹‡à¸šà¸‚à¸­à¸‡"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/27-11-67.jpg" alt="à¸­à¸­à¸à¹à¸šà¸šà¸ à¸²à¸¢à¹ƒà¸™" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/à¹‚à¸šà¸£à¸Šà¸±à¸§à¸£à¹Œà¸¢à¸²à¸«à¸¡à¹ˆà¸­à¸‡-04.jpg"
            alt="à¹‚à¸šà¸£à¸Šà¸±à¸§à¸£à¹Œà¸¢à¸²à¸«à¸¡à¹ˆà¸­à¸‡"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/mockup-à¸¢à¸²à¸«à¸¡à¹ˆà¸­à¸‡-ai.jpg"
            alt="mockup-à¸¢à¸²à¸«à¸¡à¹ˆà¸­à¸‡"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/s-l1600.png" alt="mockup-à¸¢à¸²à¸«à¸¡à¹ˆà¸­à¸‡" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/37951_0.jpg" alt="line oa à¸£à¸´à¸Šà¹€à¸¡à¸™à¸¹" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/37952_0.jpg" alt="line oa à¸£à¸´à¸Šà¹€à¸¡à¸™à¸¹" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/15.jpg"
            alt="3D Product Photography"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/16.jpg"
            alt="3D Product Photography"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/17.jpg"
            alt="3D Product Photography"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/18.jpg"
            alt="3D Product Photography"
          />
        </div>
      </div>
    </div>

    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01" />
      <div id="caption"></div>
    </div>
    <pre>
    <div>
    <YouTubeEmbed videoId="RVFE7H5dQ1k" client:load />
    <YouTubeEmbed videoId="ySUYZLDRnwM" client:load />
    <YouTubeEmbed videoId="6EhoPpMWQLM" client:load />
    <YouTubeEmbed videoId="wPZhn32crok" client:load />
    <YouTubeEmbed videoId="_YTlXlYVTgU" client:load />
    </div>
</pre>
  </div>
</section>
