---

---

<section
  id="projects"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto space-y-8 md:py-34 pb-14">
    <p class="text-md md:text-2xl text-[var(--white-icon)]">
      <span class="text-[var(--sec)] shiny-sec">ออกแบบเสื้อผ้า หมวก</span>
    </p>
    <br />
    <div class="image-gallery">
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/2.jpg" alt="พิมพ์เสื้อ DTG" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/3.jpg" alt="พิมพ์เสื้อ DTG" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/6.jpg" alt="พิมพ์เสื้อ DFT" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/5.jpg" alt="พิมพ์เสื้อ DFT" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/4.jpg" alt="ไลฟ์สดโซเชียล" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/11.jpg" alt="ภาพถ่ายแฟชั่น" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/10.jpg" alt="ภาพถ่ายแฟชั่น" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/9.jpg" alt="ภาพถ่ายแฟชั่น" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/12.jpg"
            alt="งานขายสินค้าต่างประเทศ"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/13.jpg"
            alt="งานพิมพ์เสื้อ Eco print"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/14.jpg"
            alt="งานพิมพ์เสื้อ Eco print"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/1.jpg"
            alt="งานพิมพ์เสื้อ Eco print"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img class="thumbnail" src="/img/7.jpg" alt="คู่มือการสอนเย็บหมวก" />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/8.jpg"
            alt="สร้างแพทเทิร์นหมวกหมวกบักเก็ต"
          />
        </div>
      </div>
      <div class="col">
        <div class="img-container">
          <img
            class="thumbnail"
            src="/img/wordpress.png"
            alt="เว็บไซต์ wordpress"
          />
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01" />
    <div id="caption"></div>
  </div>
</section>
