---
import YouTubeEmbed from "../components/YouTubeEmbed.jsx";
---

<section id="WEB" class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
  <div class="max-w-5xl mx-auto space-y-8 md:py-34 pb-14">
    <p class="text-md md:text-2xl text-[var(--white-icon)]">
      <span class="text-[var(--sec)] shiny-sec">Web Development</span>
    </p>
    <br />
  </div>
</section>
